<div class="contrainer">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.alpha-blog-123.herokuapp.com">Alpha Blog</a>
      by <a href="https://www.yehiasaleh.com">Yehia Saleh</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>